[Player]
Name=Player1
Name[ca]=Jugador1
Name[ca@valencia]=Jugador1
Name[de]=Spieler 1
Name[en_GB]=Player1
Name[es]=Jugador1
Name[et]=Mängija1
Name[nb]=Spiller1
Name[nn]=Spelar 1
Name[pt]=Jogador 1
Name[pt_BR]=Jogador1
Name[sr]=играч 1
Name[sr@ijekavian]=играч 1
Name[sr@ijekavianlatin]=igrač 1
Name[sr@latin]=igrač 1
Name[sv]=Spelare1
Name[tr]=Oyuncu1
Name[uk]=Гравець1
Name[x-test]=xxPlayer1xx
Name[zh_CN]=玩家 1
Name[zh_TW]=玩家 1
Description=This is Player1
Description[ca]=Aquest és el jugador1
Description[ca@valencia]=Este és el jugador1
Description[de]=Das ist Spieler 1.
Description[en_GB]=This is Player1
Description[es]=Este es el jugador1
Description[et]=See on mängija1
Description[nb]=Dette er Spiller 1
Description[nn]=Dette er spelar 1
Description[pt]=Este é o Jogador 1
Description[pt_BR]=Este é o Jogador1
Description[sr]=Ово је играч 1
Description[sr@ijekavian]=Ово је играч 1
Description[sr@ijekavianlatin]=Ovo je igrač 1
Description[sr@latin]=Ovo je igrač 1
Description[sv]=Det här är första spelaren
Description[tr]=Bu 1. Oyuncu
Description[uk]=Це Гравець1
Description[x-test]=xxThis is Player1xx
Description[zh_CN]=这是玩家 1
Description[zh_TW]=這是玩家 1
Type=SVG
FileName=player1.svgz
Preview=player1_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
