[Player]
Name=Player4
Name[de]=Spieler 4
Description=This is Player4
Description[de]=Das ist Spieler 4.
Type=SVG
FileName=player4.svgz
Preview=player4_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
