[Player]
Name=Player1
Name[de]=Spieler 1
Name[en_GB]=Player1
Name[pt]=Jogador 1
Name[uk]=Гравець1
Name[x-test]=xxPlayer1xx
Description=This is Player1
Description[de]=Das ist Spieler 1.
Description[en_GB]=This is Player1
Description[pt]=Este é o Jogador 1
Description[uk]=Це Гравець1
Description[x-test]=xxThis is Player1xx
Type=SVG
FileName=player1.svgz
Preview=player1_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
