[Player]
Name=Player5
Name[de]=Spieler5
Name[pt]=Jogador 5
Name[sv]=Spelare 5
Name[tr]=Oyuncu 5
Name[uk]=Гравець5
Name[x-test]=xxPlayer5xx
Description=This is Player5
Description[de]=Das ist Spieler5
Description[pt]=Este é o Jogador 5
Description[sv]=Det här är femte spelaren
Description[tr]=Bu 5. Oyuncu
Description[uk]=Це Гравець5
Description[x-test]=xxThis is Player5xx
Type=SVG
FileName=player5.svgz
Preview=player5_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
