[Player]
Name=Player3
Name[de]=Spieler 3
Description=This is Player3
Description[de]=Das ist Spieler 3.
Type=SVG
FileName=player3.svgz
Preview=player3_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
