[KGameTheme]
Name=Player 1
Name[de]=Spieler 1
Name[es]=Jugador 1
Name[et]=Mängija 1
Name[nl]=Speler 1
Name[pl]=Gracz 1
Name[pt]=Jogador 1
Name[pt_BR]=Jogador 1
Name[ro]=Jucătorul 1
Name[sl]=Igralec 1
Name[sv]=Spelare 1
Name[uk]=Гравець 1
Name[x-test]=xxPlayer 1xx
Name[zh_TW]=玩家 1
Description=This is Player 1
Description[de]=Das ist Spieler 1.
Description[es]=Este es el jugador 1
Description[et]=See on mängija 1
Description[nl]=Dit is speler 1
Description[pl]=To jest Gracz 1
Description[pt]=Este é o Jogador 1
Description[pt_BR]=Este é o Jogador 1
Description[ro]=Acesta este jucătorul1
Description[sl]=To je igralec 1
Description[sv]=Det här är första spelaren
Description[uk]=Це Гравець 1
Description[x-test]=xxThis is Player 1xx
Description[zh_TW]=這是玩家 1
Type=SVG
FileName=player1.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
