[Player]
Name=Player2
Name[en_GB]=Player2
Name[es]=Jugador 2
Name[fr]=Joueur 2
Name[pt]=Jogador 2
Name[pt_BR]=Jogador2
Name[sv]=Spelare 2
Name[tr]=Oyuncu 2
Name[uk]=Гравець2
Name[x-test]=xxPlayer2xx
Description=This is Player2
Description[en_GB]=This is Player2
Description[es]=este es el jugador 2
Description[fr]=Ceci est le joueur 2
Description[pt]=Este é o Jogador 2
Description[pt_BR]=Este é o jogador2
Description[sv]=Det här är andra spelaren
Description[tr]=Bu 2. Oyuncu
Description[uk]=Це Гравець2
Description[x-test]=xxThis is Player2xx
Type=SVG
FileName=player2.svgz
Preview=player2_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
