[Player]
Name=Player4
Description=This is Player4
Type=SVG
FileName=player4.svgz
Preview=player4_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
