[KGameTheme]
Name=Player4
Name[bs]=Igrač4
Name[ca]=Jugador4
Name[ca@valencia]=Jugador4
Name[da]=Spiller 4
Name[de]=Spieler 4
Name[el]=Player4
Name[en_GB]=Player4
Name[es]=Jugador4
Name[et]=Mängija4
Name[fi]=Pelaaja4
Name[fr]=Joueur4
Name[ga]=Imreoir4
Name[gl]=Xogador 4
Name[hr]=Igrač 4
Name[hu]=4. játékos
Name[is]=Spilari4
Name[it]=Giocatore-4
Name[kk]=4-ойыншы
Name[km]=អ្នក​លេង​ ៤
Name[lt]=Žaidėjas4
Name[nb]=Spiller4
Name[nds]=Speler 4
Name[nl]=Speler4
Name[nn]=Spelar 4
Name[pl]=Gracz 4
Name[pt]=Jogador 4
Name[pt_BR]=Jogador 4
Name[ro]=Jucătorul4
Name[ru]=Игрок 4
Name[sk]=Hráč4
Name[sr]=играч 4
Name[sr@ijekavian]=играч 4
Name[sr@ijekavianlatin]=igrač 4
Name[sr@latin]=igrač 4
Name[sv]=Spelare4
Name[tr]=Oyuncu4
Name[uk]=Гравець4
Name[x-test]=xxPlayer4xx
Name[zh_CN]=玩家 4
Name[zh_TW]=玩家 4
Description=This is Player4
Description[bs]=Ovo je igrač4
Description[ca]=Aquest és el jugador4
Description[ca@valencia]=Este és el jugador4
Description[da]=Dette er spiller 4
Description[de]=Das ist Spieler 4.
Description[el]=Αυτός είναι ο player4
Description[en_GB]=This is Player4
Description[es]=Este es el jugador4
Description[et]=See on mängija4
Description[fi]=Tämä on Pelaaja4
Description[fr]=Voici Joueur4
Description[ga]=Seo é Imreoir4
Description[gl]=Este é o xogador 4
Description[hr]=Ovo je Igrač 4
Description[hu]=Ez a 4. játékos
Description[is]=Þetta er spilari4
Description[it]=Questo è il quarto contendente
Description[kk]=Бұл 4-ойыншы
Description[km]=នេះ​គឺ​ជា​អ្នក​លេង​ ៤
Description[nb]=Dette er Spiller 4
Description[nds]=Dit is Speler 4
Description[nl]=Dit is speler4
Description[nn]=Dette er spelar 4
Description[pl]=To jest Gracz 4
Description[pt]=Este é o Jogador 4
Description[pt_BR]=Este é o Jogador 4
Description[ro]=Acesta este Jucătorul4
Description[ru]=Это игрок 4
Description[sk]=Toto je hráč4
Description[sr]=Ово је играч 4
Description[sr@ijekavian]=Ово је играч 4
Description[sr@ijekavianlatin]=Ovo je igrač 4
Description[sr@latin]=Ovo je igrač 4
Description[sv]=Det här är fjärde spelaren
Description[tr]=Bu 4. Oyuncu
Description[uk]=Це Гравець4
Description[x-test]=xxThis is Player4xx
Description[zh_CN]=这是玩家 4
Description[zh_TW]=這是玩家 4
Type=SVG
FileName=player4.svgz
Preview=player4_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
