[Player]
Name=Player3
Name[de]=Spieler 3
Name[en_GB]=Player3
Name[pt]=Jogador 3
Name[sv]=Spelare3
Name[tr]=Oyuncu3
Name[uk]=Гравець3
Name[x-test]=xxPlayer3xx
Description=This is Player3
Description[de]=Das ist Spieler 3.
Description[en_GB]=This is Player3
Description[pt]=Este é o Jogador 3
Description[sv]=Det här är tredje spelaren
Description[tr]=Bu 3. Oyuncu
Description[uk]=Це Гравець3
Description[x-test]=xxThis is Player3xx
Type=SVG
FileName=player3.svgz
Preview=player3_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
