[Player]
Name=Player2
Name[ca]=Jugador2
Name[ca@valencia]=Jugador2
Name[de]=Spieler 2
Name[en_GB]=Player2
Name[es]=Jugador2
Name[et]=Mängija2
Name[hr]=Igrač 2
Name[nb]=Spiller 2
Name[nn]=Spelar 2
Name[pt]=Jogador 2
Name[pt_BR]=Jogador2
Name[ru]=Игрок 2
Name[sr]=играч 2
Name[sr@ijekavian]=играч 2
Name[sr@ijekavianlatin]=igrač 2
Name[sr@latin]=igrač 2
Name[sv]=Spelare2
Name[tr]=Oyuncu2
Name[uk]=Гравець2
Name[x-test]=xxPlayer2xx
Name[zh_CN]=玩家 2
Name[zh_TW]=玩家 2
Description=This is Player2
Description[ca]=Aquest és el jugador2
Description[ca@valencia]=Este és el jugador2
Description[de]=Das ist Spieler 2.
Description[en_GB]=This is Player2
Description[es]=Este es el jugador2
Description[et]=See on mängija2
Description[hr]=Ovo je Igrač 2
Description[nb]=Dette er Spiller 2
Description[nn]=Dette er spelar 2
Description[pt]=Este é o Jogador 2
Description[pt_BR]=Este é o Jogador2
Description[ru]=Это игрок 2
Description[sr]=Ово је играч 2
Description[sr@ijekavian]=Ово је играч 2
Description[sr@ijekavianlatin]=Ovo je igrač 2
Description[sr@latin]=Ovo je igrač 2
Description[sv]=Det här är andra spelaren
Description[tr]=Bu 2. Oyuncu
Description[uk]=Це Гравець2
Description[x-test]=xxThis is Player2xx
Description[zh_CN]=这是玩家 2
Description[zh_TW]=這是玩家 2
Type=SVG
FileName=player2.svgz
Preview=player2_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
