[KGameTheme]
Name=Player 3
Name[bs]=Igrač 3
Name[ca]=Jugador 3
Name[ca@valencia]=Jugador 3
Name[cs]=Hráč 3
Name[da]=Spiller 3
Name[de]=Spieler 3
Name[el]=Παίκτης 3
Name[en_GB]=Player 3
Name[es]=Jugador 3
Name[et]=Mängija 3
Name[fi]=Pelaaja 3
Name[fr]=Joueur 3
Name[ga]=Imreoir 3
Name[gl]=Xogador 3
Name[hu]=3. játékos
Name[it]=Giocatore 3
Name[kk]=3-ойыншы
Name[km]=អ្នក​លេង​ ៣
Name[ko]=플레이어 3
Name[lt]=Žaidėjas 3
Name[lv]=3. spēlētājs
Name[mr]=खेळाडू 3
Name[nb]=Spiller 3
Name[nds]=Speler 3
Name[nl]=Speler 3
Name[pl]=Gracz 3
Name[pt]=Jogador 3
Name[pt_BR]=Jogador 3
Name[ro]=Jucătorul 3
Name[ru]=Игрок 3
Name[sk]=Hráč 3
Name[sl]=Igralec 3
Name[sr]=играч 3
Name[sr@ijekavian]=играч 3
Name[sr@ijekavianlatin]=igrač 3
Name[sr@latin]=igrač 3
Name[sv]=Spelare 3
Name[tr]=3. Oyuncu
Name[uk]=Гравець 3
Name[x-test]=xxPlayer 3xx
Name[zh_CN]=玩家 3
Name[zh_TW]=玩家 3
Description=This is Player 3
Description[bs]=Ovo je igrač 3
Description[ca]=Aquest és el jugador 3
Description[ca@valencia]=Este és el jugador 3
Description[cs]=Toto je hráč 3
Description[da]=Dette er spiller 3
Description[de]=Das ist Spieler 3.
Description[el]=Αυτός είναι ο Παίκτης 3
Description[en_GB]=This is Player 3
Description[es]=Este es el jugador 3
Description[et]=See on mängija 3
Description[fi]=Tämä on Pelaaja 3
Description[fr]=Voici le joueur 3
Description[ga]=Seo e Imreoir 3
Description[gl]=Este é o xogador 3
Description[hu]=Ez a 3. játékos
Description[it]=Questo è il Giocatore 3
Description[kk]=Бұл 3-ойыншы
Description[km]=នេះ​គឺ​ជា​អ្នក​លេង​ ៣
Description[ko]=플레이어 3입니다
Description[lt]=Tai yra žaidėjas 3
Description[lv]=Šis ir 3. spēlētājs
Description[nb]=Dette er Spiller 3
Description[nds]=Dit is Speler 3
Description[nl]=Dit is speler 3
Description[pl]=To jest Gracz 3
Description[pt]=Este é o Jogador 3
Description[pt_BR]=Este é o Jogador 3
Description[ro]=Acesta este jucătorul 3
Description[ru]=Это игрок 3
Description[sk]=Toto je Hráč 3
Description[sl]=To je igralec 3
Description[sr]=Ово је играч 3
Description[sr@ijekavian]=Ово је играч 3
Description[sr@ijekavianlatin]=Ovo je igrač 3
Description[sr@latin]=Ovo je igrač 3
Description[sv]=Det här är tredje spelaren
Description[tr]=Bu 3. Oyuncu
Description[uk]=Це Гравець 3
Description[x-test]=xxThis is Player 3xx
Description[zh_CN]=这是玩家 3
Description[zh_TW]=這是玩家 3
Type=SVG
FileName=player3.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
