[KGameTheme]
Name=Player 5
Name[es]=Jugador 5
Name[nl]=Speler 5
Name[pl]=Gracz 5
Name[pt]=Jogador 5
Name[pt_BR]=Jogador 5
Name[uk]=Гравець 5
Name[x-test]=xxPlayer 5xx
Description=This is Player 5
Description[es]=Este es el jugador 5
Description[nl]=Dit is speler 5
Description[pl]=To jest Gracz 5
Description[pt]=Este é o Jogador 5
Description[pt_BR]=Este é o Jogador 5
Description[uk]=Це Гравець 5
Description[x-test]=xxThis is Player 5xx
Type=SVG
FileName=player5.svgz
Preview=player5_preview.svgz
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
