[KGameTheme]
Name=Clanbomber
Name[sv]=Klanbombare
Name[x-test]=xxClanbomberxx
Description=Clanbomber Theme
Description[de]=Clanbomber-Design
Description[el]=Θέμα Clanbomber
Description[et]=Clanbomberi teema
Description[fr]=Thème pour Clanbomber
Description[ga]=Téama Clanbomber
Description[gl]=Tema Clanbomber
Description[it]=Tema di Clanbomber
Description[ja]=Clanbomber のテーマ
Description[km]=ស្បែក Clanbomber
Description[nds]=Clanbomber-Muster
Description[pt]=Tema do ClanBomber
Description[pt_BR]=Tema do ClanBomber
Description[sv]=Klanbombartema
Description[tr]=Clanbomber Teması
Description[uk]=Тема Clanbomber
Description[x-test]=xxClanbomber Themexx
Type=SVG
FileName=clanbomber.svgz
Preview=clanbomber_preview.png
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
