[KGameTheme]
Name=Granatier
Name[de]=Granatier
Description=Granatier Theme
Description[de]=Das Standard-Design von Granatier.
Type=SVG
FileName=granatier.svgz
Preview=granatier_preview.png
Author=Arturo Silva
AuthorEmail=---
