[KGameTheme]
Name=Granatier
Name[bs]=Bombaš
Name[ca]=Granatier
Name[ca@valencia]=Granatier
Name[cs]=Granatier
Name[da]=Granatier
Name[de]=Granatier
Name[el]=Granatier
Name[en_GB]=Granatier
Name[eo]=Granatier
Name[es]=Granatier
Name[et]=Granatier
Name[fr]=Granatier
Name[ga]=Granatier
Name[gl]=Granadeiro
Name[hu]=Granatier
Name[it]=Granatiere
Name[km]=Granatier
Name[nb]=Granatier
Name[nds]=Granatier
Name[nl]=Granatier
Name[nn]=Granatier
Name[pl]=Granatier
Name[pt]=Granatier
Name[pt_BR]=Granatier
Name[ru]=Granatier
Name[sk]=Granatier
Name[sr]=Гренадир
Name[sr@ijekavian]=Гренадир
Name[sr@ijekavianlatin]=Grenadir
Name[sr@latin]=Grenadir
Name[sv]=Granatier
Name[tr]=Granatier
Name[ug]=Granatier
Name[uk]=Гренадер
Name[x-test]=xxGranatierxx
Name[zh_CN]=Granatier
Name[zh_TW]=Granatier
Description=Granatier Theme
Description[bs]=Tema granater
Description[ca]=Tema Granatier
Description[ca@valencia]=Tema Granatier
Description[da]=Granatier-tema
Description[de]=Das Standard-Design von Granatier.
Description[el]=Θέμα Granatier
Description[en_GB]=Granatier Theme
Description[es]=Tema de Granatier
Description[et]=Granatieri teema
Description[fr]=Thème Granatier
Description[ga]=Téama Granatier
Description[gl]=Tema visual do Granatier
Description[hu]=Granatier-téma
Description[it]=Tema di Granatier
Description[km]=ស្បែក​​របស់ Granatier
Description[nb]=Granatier-tema
Description[nds]=Granatier-Muster
Description[nl]=Granatier-thema
Description[nn]=Granatier-tema
Description[pl]=Motyw Granatier
Description[pt]=Tema do Granatier
Description[pt_BR]=Tema do Granatier
Description[ru]=Оформление Granatier
Description[sk]=Téma Granatier
Description[sr]=Тема Гренадира
Description[sr@ijekavian]=Тема Гренадира
Description[sr@ijekavianlatin]=Tema Grenadira
Description[sr@latin]=Tema Grenadira
Description[sv]=Granatier-tema
Description[tr]=Granatier Teması
Description[uk]=Тема «Гренадера»
Description[x-test]=xxGranatier Themexx
Description[zh_CN]=Granatier 主题
Description[zh_TW]=Granatier 主題
Type=SVG
FileName=granatier.svgz
Preview=granatier_preview.png
Author=Arturo Silva
AuthorEmail=jasilva28@gmail.com
