[KGameTheme]
Name=Granatier
Name[uk]=Гренадер
Name[x-test]=xxGranatierxx
Description=Granatier Theme
Description[uk]=Тема «Гренадера»
Description[x-test]=xxGranatier Themexx
Type=SVG
FileName=granatier.svgz
Preview=granatier_preview.png
Author=Arturo Silva
AuthorEmail=jasilva28@gmail.com
