[KGameTheme]
Name=Water Bomb
Name[de]=Wasserbombe
Description=Water Bomb Theme
Description[de]=Das Wasserbomben-Design von Granatier.
Type=SVG
FileName=waterbomb.svgz
Preview=waterbomb_preview.png
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
