[KGameTheme]
Name=Water Bomb
Name[ca]=Bomba d'aigua
Name[da]=Vandballon
Name[de]=Wasserbombe
Name[en_GB]=Water Bomb
Name[es]=Bomba de agua
Name[et]=Veepomm
Name[pt]=Bomba de Água
Name[pt_BR]=Bomba aquática
Name[ru]=Водная бомба
Name[sv]=Vattenbomb
Name[tr]=Su Bombası
Name[zh_TW]=水炸彈
Description=Water Bomb Theme
Description[ca]=Tema bomba d'aigua
Description[da]=Vandballon-tema
Description[de]=Das Wasserbomben-Design von Granatier.
Description[en_GB]=Water Bomb Theme
Description[es]=Tema de Water Bomb
Description[et]=Veepommi teema
Description[pt]=Tema de Bomba de Água
Description[pt_BR]=Tema da bomba aquática
Description[ru]=Оформление «Водная бомба»
Description[sv]=Vattenbombtema
Description[tr]=Su Bombası Teması
Description[zh_TW]=水炸彈主題
Type=SVG
FileName=waterbomb.svgz
Preview=waterbomb_preview.png
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
