[Desktop Entry]
Type=Application
Name=Granatier
Name[de]=Granatier
GenericName=Bomberman clone
GenericName[de]=„Bomberman“-Spiel
Icon=granatier
TryExec=granatier
Exec=granatier
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=granatier/index.html
