[Arena]
Name=Hard Work
Name[ca]=Treball dur
Name[ca@valencia]=Treball dur
Name[de]=Harte Arbeit
Name[en_GB]=Hard Work
Name[et]=Rassimine
Name[nb]=Hardt arbeid
Name[nn]=Hardt arbeid
Name[pt]=Trabalho Difícil
Name[sr]=Тежак посао
Name[sr@ijekavian]=Тежак посао
Name[sr@ijekavianlatin]=Težak posao
Name[sr@latin]=Težak posao
Name[sv]=Hårt arbete
Name[uk]=Важка робота
Name[x-test]=xxHard Workxx
Name[zh_TW]=困難工作
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[nb]=Clanbomber import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Hard_Work.xml
Author=Andreas Hundt
AuthorEmail=-
