[Arena]
Name=Dilemma
Name[bs]=Dilema
Name[ca]=Dilema
Name[ca@valencia]=Dilema
Name[da]=Dilemma
Name[de]=Zwickmühle
Name[el]=Δίλημμα
Name[en_GB]=Dilemma
Name[es]=Dilemma
Name[fi]=Dilemma
Name[fr]=Dilemme
Name[ga]=Dilemma
Name[gl]=Dilema
Name[hr]=Dilemma
Name[hu]=Dilemma
Name[is]=Þversögn
Name[it]=Dilemma
Name[kk]=Дилемма
Name[km]=ទ្វេ​គ្រោះ​
Name[ko]=딜레마
Name[lt]=Dilema
Name[lv]=Dilemma
Name[nb]=Dilemma
Name[nds]=Twischen Bork un Boom
Name[nl]=Dilemma
Name[nn]=Dilemma
Name[pl]=Dylemat
Name[pt]=Dilema
Name[pt_BR]=Dilema
Name[ro]=Dilema
Name[ru]=Дилемма
Name[sk]=Dilema
Name[sl]=Dilema
Name[sr]=Недоумица
Name[sr@ijekavian]=Недоумица
Name[sr@ijekavianlatin]=Nedoumica
Name[sr@latin]=Nedoumica
Name[sv]=Dilemma
Name[tr]=İkilem
Name[uk]=Дилема
Name[x-test]=xxDilemmaxx
Name[zh_CN]=左右为难
Name[zh_TW]=兩難
Description=Clanbomber Import
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Dilemma.xml
Author=Ivar
AuthorEmail=-
