[Arena]
Name=Crammed
Name[ar]=مكتظ
Name[bs]=Natrpano
Name[ca]=Amuntegats
Name[ca@valencia]=Amuntegats
Name[da]=Tætpakket
Name[de]=Vollgepackt
Name[el]=Crammed
Name[en_GB]=Crammed
Name[es]=Abarrotado
Name[et]=Täis tuubitud
Name[eu]=Bete-beterik
Name[fi]=Sullottu
Name[fr]=Plein à craquer
Name[ga]=Crammed
Name[gl]=Ateigado
Name[hr]=Crammed
Name[hu]=Összezsúfolva
Name[id]=Berdesakan
Name[is]=Crammed
Name[it]=Imbottito
Name[kk]=Апыр-топыр
Name[km]=ញាត់
Name[ko]=둘러싸임
Name[lv]=Piebāztais
Name[nb]=Crammed
Name[nds]=Proppenvull
Name[nl]=Crammed
Name[nn]=Trengsel
Name[pl]=Napakowany
Name[pt]=Apertado
Name[pt_BR]=Entulhado
Name[ru]=Столпотворение
Name[sk]=Preplnené
Name[sl]=Natrpano
Name[sr]=Скучено
Name[sr@ijekavian]=Скучено
Name[sr@ijekavianlatin]=Skučeno
Name[sr@latin]=Skučeno
Name[sv]=Trängsel
Name[tr]=Tıka basa
Name[uk]=Тиснява
Name[x-test]=xxCrammedxx
Name[zh_CN]=填塞
Name[zh_TW]=塞滿
Description=Clanbomber Import
Description[ar]=استيراد كلانبومبر
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació de Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importar de Clanbomber
Description[et]=Clanbomberi import
Description[eu]=Inportatu Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[id]=Impor Clanbomber
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Crammed.xml
Author=Andreas Hundt
AuthorEmail=-
