[Arena]
Name=Snake Race
Name[en_GB]=Snake Race
Name[et]=Ussiralli
Name[pt]=Corrida de Cobras
Name[sv]=Ormrace
Name[uk]=Змійка
Name[x-test]=xxSnake Racexx
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Type=XML
FileName=clanbomber_Snake_Race.xml
Author=Denis Oliver Kropp
AuthorEmail=-
