[Arena]
Name=Big Block
Name[ca]=Gran bloc
Name[en_GB]=Big Block
Name[et]=Suur plokk
Name[nb]=Stor blokk
Name[pt]=Bloco Grande
Name[sv]=Stort block
Name[uk]=Великий блок
Name[x-test]=xxBig Blockxx
Name[zh_TW]=大區塊
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[nb]=Clanbomber import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Big_Block.xml
Author=Andreas Hundt
AuthorEmail=-
