[Arena]
Name=Crammed
Name[ca]=Amuntegats
Name[ca@valencia]=Amuntegats
Name[da]=Tætpakket
Name[de]=Vollgepackt
Name[en_GB]=Crammed
Name[es]=Crammed
Name[et]=Täis tuubitud
Name[fr]=Plein à craquer
Name[ga]=Crammed
Name[hr]=Crammed
Name[hu]=Összezsúfolva
Name[is]=Crammed
Name[it]=Imbottito
Name[nb]=Crammed
Name[nds]=Proppenvull
Name[nl]=Crammed
Name[nn]=Trengsel
Name[pt]=Apertado
Name[pt_BR]=Entulhado
Name[ru]=Столпотворение
Name[sk]=Preplnené
Name[sr]=Скучено
Name[sr@ijekavian]=Скучено
Name[sr@ijekavianlatin]=Skučeno
Name[sr@latin]=Skučeno
Name[sv]=Trängsel
Name[uk]=Тиснява
Name[x-test]=xxCrammedxx
Name[zh_CN]=填塞
Name[zh_TW]=塞滿
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[ga]=Iompórtáil Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Crammed.xml
Author=Andreas Hundt
AuthorEmail=-
