[Arena]
Name=Whole Mess
Name[ar]=فوضى كاملة
Name[bs]=Potpuni nered
Name[ca]=Desordre total
Name[ca@valencia]=Desordre total
Name[da]=Værre rod
Name[de]=Richtiges Chaos
Name[el]=Whole Mess
Name[en_GB]=Whole Mess
Name[es]=Whole Mess
Name[et]=Täielik segadus
Name[eu]=Erabat nahasia
Name[fi]=Koko sotku
Name[fr]=Désordre complet
Name[ga]=Whole Mess
Name[gl]=Un completo desastre
Name[hu]=Kicsi a rakás
Name[id]=Kekacauan Menyeluruh
Name[it]=Caos completo
Name[kk]=Шиеленіс
Name[km]=Whole Mess
Name[ko]=완전한 무질서
Name[lv]=Pilnīga nekārtība
Name[nb]=Hele greia
Name[nds]=Kuddelmuddel
Name[nl]=Whole Mess
Name[nn]=Berre rot
Name[pl]=Prawdziwy bałagan
Name[pt]=Grande Confusão
Name[pt_BR]=Bagunça completa
Name[ru]=Полный беспорядок
Name[sk]=Neporiadok
Name[sl]=Velik nered
Name[sr]=Цео неред
Name[sr@ijekavian]=Цио неред
Name[sr@ijekavianlatin]=Cio nered
Name[sr@latin]=Ceo nered
Name[sv]=Hela röran
Name[tr]=Tam Karmaşa
Name[uk]=Плутанина
Name[x-test]=xxWhole Messxx
Name[zh_CN]=一团糟
Name[zh_TW]=一團糟
Description=Clanbomber Import
Description[ar]=استيراد كلانبومبر
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació de Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importar de Clanbomber
Description[et]=Clanbomberi import
Description[eu]=Inportatu Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[id]=Impor Clanbomber
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Whole_Mess.xml
Author=Denis Oliver Kropp
AuthorEmail=-
