[Arena]
Name=Fear Circle Remix
Name[bs]=Krug straha remiks
Name[ca]=Remix del cercle ferotge
Name[ca@valencia]=Remix del cercle ferotge
Name[da]=Remix af frygtens cirkel
Name[de]=Angstkreis (neu)
Name[en_GB]=Fear Circle Remix
Name[es]=Fear Circle Remix
Name[et]=Hirmuringi remiks
Name[fr]=Remix du cercle de la peur
Name[ga]=Fear Circle Remix
Name[gl]=Círculo do terror alternativo
Name[hr]=Fear Circle Remix
Name[hu]=A félelem köre (remix)
Name[it]=Cerchio del terrore modificato
Name[km]=ការ​បញ្ចូល​​រង្វង់​រន្ធត់​ជា​ថ្មី
Name[nb]=Remiks av Fryktens sirkel
Name[nds]=Bammelkrink, nieg
Name[nl]=Angstcirkel Remix
Name[nn]=Fryktsirkel-remiks
Name[pt]=Mistura do Círculo de Medo
Name[pt_BR]=Círculo do medo remix
Name[ru]=Круг страха (ремикс)
Name[sk]=Kruh strachu - remix
Name[sr]=Круг страха прерађен
Name[sr@ijekavian]=Круг страха прерађен
Name[sr@ijekavianlatin]=Krug straha prerađen
Name[sr@latin]=Krug straha prerađen
Name[sv]=Fruktans cirkel repris
Name[tr]=Korku Çemberi Remix
Name[uk]=Перероблене коло страху
Name[x-test]=xxFear Circle Remixxx
Name[zh_CN]=恐怖环重制版
Name[zh_TW]=恐懼之圓重新混合
Description=Clanbomber Import
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_FearCircle_Remix.xml
Author=Ivar
AuthorEmail=-
