[Arena]
Name=Sixty Nine
Name[uk]=Шістдесят дев’ять
Name[x-test]=xxSixty Ninexx
Description=Clanbomber Import
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Type=XML
FileName=clanbomber_Sixty_Nine.xml
Author=Clanner
AuthorEmail=-
