[Arena]
Name=Fear Circle Remix
Name[ca]=Remix del cercle ferotge
Name[en_GB]=Fear Circle Remix
Name[et]=Hirmuringi remiks
Name[nb]=Remiks av Fryktens sirkel
Name[pt]=Mistura do Círculo de Medo
Name[sv]=Fruktans cirkel repris
Name[uk]=Перероблене коло страху
Name[x-test]=xxFear Circle Remixxx
Name[zh_TW]=恐懼之圓重新混合
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[nb]=Clanbomber import
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_FearCircle_Remix.xml
Author=Ivar
AuthorEmail=-
