[Arena]
Name=Clanbomber Huge Standard
Name[bs]=Klan bombarderski ogromni standard
Name[ca]=Immens estàndard del Clanbomber
Name[ca@valencia]=Immens estàndard del Clanbomber
Name[da]=Enorm standard fra Clanbomber
Name[de]=Clanbomber (sehr groß)
Name[el]=Clanbomber Huge Standard
Name[en_GB]=Clanbomber Huge Standard
Name[es]=Clanbomber Huge Standard
Name[et]=Clambomberi hiiglaslik standardne
Name[fr]=Standard énorme ClanBomber
Name[ga]=Clanbomber Huge Standard
Name[gl]=Estándar enorme do Clanbomber
Name[hr]=Clanbomber Huge Standard
Name[hu]=Clanbomber (nagyon nagy, standard)
Name[it]=Clanbomber standard - enorme
Name[kk]=Clanbomber алып стандарты
Name[km]=ស្តង់ដារ​ធំ​របស់ Clanbomber 
Name[lv]=Clanbomber milzīgā standarta
Name[nb]=Clanbomber diger standard
Name[nds]=Clanbomber, övergroot, standard
Name[nl]=Clanbomber Huge Standaard
Name[nn]=ClanBomber enorm standard
Name[pl]=Ogromny standard Clanbomber
Name[pt]=Normal Enorme do Clanbomber
Name[pt_BR]=Padrão enorme do Clanbomber
Name[ru]=Средний стандарт Clanbomber
Name[sk]=Obrovský Clanbomber - štandard
Name[sl]=Clanbomber - običajno, ogromno
Name[sr]=Стандардна огромна Кланбомбера
Name[sr@ijekavian]=Стандардна огромна Кланбомбера
Name[sr@ijekavianlatin]=Standardna ogromna ClanBombera
Name[sr@latin]=Standardna ogromna ClanBombera
Name[sv]=Enorm Clanbomber-standard
Name[tr]=Clanbomber En Büyük Standardı
Name[uk]=Величезна стандартна Clanbomber
Name[x-test]=xxClanbomber Huge Standardxx
Name[zh_CN]=炸弹人巨型版
Name[zh_TW]=炸彈超人巨大標準
Description=Clanbomber Import
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Huge_Standard.xml
Author=Andreas Hundt
AuthorEmail=-
