[Arena]
Name=Bomb Attack
Name[ca]=Bombardeig
Name[en_GB]=Bomb Attack
Name[et]=Pommirünnak
Name[pt]=Ataque de Bombas
Name[sv]=Bombattack
Name[uk]=Бомбовий напад
Name[x-test]=xxBomb Attackxx
Name[zh_TW]=炸彈攻擊
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Bomb_Attack.xml
Author=Denis Oliver Kropp
AuthorEmail=-
