[Arena]
Name=Sixty Nine
Name[bs]=Šezdeset i devet
Name[ca]=Seixanta-nou
Name[ca@valencia]=Seixanta-nou
Name[da]=Niogtres
Name[de]=Neunundsechzig
Name[el]=Sixty Nine
Name[en_GB]=Sixty Nine
Name[es]=Sesenta y nueve
Name[et]=69
Name[fr]=Soixante neuf
Name[ga]=Sixty Nine
Name[gl]=Sesenta e nove
Name[hr]=Sixty Nine
Name[hu]=Hatvankilenc
Name[it]=Sessantanove
Name[kk]=Алпыс тоғыз
Name[km]=ហុកសិប​ប្រាំបួន
Name[lt]=Šešiasdešimt devyni
Name[lv]=Sešdesmit deviņi
Name[nb]=Sekstini
Name[nds]=Negensösstig
Name[nl]=Nine
Name[nn]=Sekstini
Name[pl]=Sześćdziesiąt dziewięć
Name[pt]=Sessenta e Nove
Name[pt_BR]=Sessenta e nove
Name[ro]=Șaizeci și nouă
Name[ru]=Шестьдесят девять
Name[sk]=Šesťdesiat deväť
Name[sl]=69
Name[sr]=Шездесет девет
Name[sr@ijekavian]=Шездесет девет
Name[sr@ijekavianlatin]=Šezdeset devet
Name[sr@latin]=Šezdeset devet
Name[sv]=Sextionio
Name[tr]=Altmış Dokuz
Name[uk]=Шістдесят дев’ять
Name[x-test]=xxSixty Ninexx
Name[zh_CN]=69
Name[zh_TW]=69
Description=Clanbomber Import
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Import ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Sixty_Nine.xml
Author=Clanner
AuthorEmail=-
