[Arena]
Name=Bloody Ring
Name[ar]=خاتم دموي
Name[bs]=Krvavi prsten
Name[ca]=Anell sagnant
Name[ca@valencia]=Anell sagnant
Name[da]=Blodig ring
Name[de]=Blutiger Ring
Name[el]=Ματωμένος δακτύλιος
Name[en_GB]=Bloody Ring
Name[eo]=Sanga Ringo
Name[es]=Anillo sangriento
Name[et]=Verine ring
Name[eu]=Eraztun odoltsua
Name[fi]=Verinen kehä
Name[fr]=Anneau sanglant
Name[ga]=Bloody Ring
Name[gl]=Anel do demo
Name[he]=טבעת מדממת
Name[hr]=Bloody Ring
Name[hu]=Véres aréna
Name[id]=Cincin Berdarah
Name[it]=Anello insanguinato
Name[ka]=სისხლიანი რინგი
Name[kk]=Қанды сақина
Name[km]=សៃវៀន​បង្ហូរ​ឈាម
Name[ko]=분노의 궤도
Name[lv]=Asiņainais gredzens
Name[nb]=Blodig ring
Name[nds]=Blöderig Ring
Name[nl]=Bloody Ring
Name[nn]=Blodring
Name[pl]=Krwawy pierścień
Name[pt]=Anel Sangrento
Name[pt_BR]=Anel sangrento
Name[ro]=Inel sângeros
Name[ru]=Кровавый ринг
Name[sa]=रक्ताभः रिंग
Name[sk]=Krvavý kruh
Name[sl]=Krvavi obroč
Name[sr]=Крвави прстен
Name[sr@ijekavian]=Крвави прстен
Name[sr@ijekavianlatin]=Krvavi prsten
Name[sr@latin]=Krvavi prsten
Name[sv]=Blodig ring
Name[tr]=Kanlı Yüzük
Name[uk]=Криваве кільце
Name[x-test]=xxBloody Ringxx
Name[zh_CN]=血腥指环
Name[zh_TW]=血腥之環
Description=Clanbomber Import
Description[ar]=استيراد كلانبومبر
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importeu Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[eo]=Clanbomber Importo
Description[es]=Importar de Clanbomber
Description[et]=Clanbomberi import
Description[eu]=Inportatu Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber.
Description[he]=ייבוא מ־Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[id]=Impor Clanbomber
Description[it]=Importazione di Clanbomber
Description[ka]=კლანპომბერის შემოტანა
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=„Clanbomber“ importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sa]=कुल बमवर्षक आयात
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Bloody_Ring.xml
Author=Denis Oliver Kropp
AuthorEmail=-
