[Arena]
Name=Overkill
Name[ca]=Rematada
Name[ca@valencia]=Rematada
Name[da]=Overkill
Name[de]=Übermaß
Name[en_GB]=Overkill
Name[es]=Overkill
Name[et]=Ülepingutus
Name[fr]=Extermination
Name[ga]=Overkill
Name[hr]=Overkill
Name[hu]=Több a soknál
Name[it]=Strage
Name[nb]=Altfor mye
Name[nds]=Mehr as noog
Name[nl]=Overkill
Name[nn]=For mykje
Name[pt]=Exagero
Name[pt_BR]=Exagero
Name[ru]=Резня
Name[sk]=Nadmerné
Name[sr]=Претерано
Name[sr@ijekavian]=Претерано
Name[sr@ijekavianlatin]=Preterano
Name[sr@latin]=Preterano
Name[sv]=Överdödlighet
Name[tr]=Aşırıya Kaçma
Name[uk]=Підірвати все
Name[x-test]=xxOverkillxx
Name[zh_CN]=杀无赦
Name[zh_TW]=過度殺傷
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[ga]=Iompórtáil Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Overkill.xml
Author=Denis Oliver Kropp
AuthorEmail=-
