[Arena]
Name=Death Corridor
Name[bs]=Koridor smrti
Name[ca]=El corredor de la mort
Name[ca@valencia]=El corredor de la mort
Name[da]=Dødens korridor
Name[de]=Todeskorridor
Name[el]=Διάδρομος θανάτου
Name[en_GB]=Death Corridor
Name[es]=Death Corridor
Name[et]=Surmakoridor
Name[fi]=Kuoleman käytävä
Name[fr]=Couloir de la mort
Name[ga]=Death Corridor
Name[gl]=Corredor da morte
Name[hr]=Death Corridor
Name[hu]=Halálfolyosó
Name[is]=Dauðagöngin
Name[it]=Corridoio della morte
Name[kk]=Өлім дәлізі
Name[km]=ច្រក​មរណៈ
Name[lt]=Mirties koridorius
Name[lv]=Nāves koridors
Name[nb]=Dødens korridor
Name[nds]=Doodsgang
Name[nl]=Death Corridor
Name[nn]=Dødskorridoren
Name[pl]=Korytarz śmierci
Name[pt]=Corredor da Morte
Name[pt_BR]=Corredor da morte
Name[ro]=Coridorul morții
Name[ru]=Коридор смерти
Name[sk]=Chodba smrti
Name[sl]=Hodnik smrti
Name[sr]=Ходник смрти
Name[sr@ijekavian]=Ходник смрти
Name[sr@ijekavianlatin]=Hodnik smrti
Name[sr@latin]=Hodnik smrti
Name[sv]=Dödens korridor
Name[tr]=Ölüm Koridoru
Name[uk]=Смертельний коридор
Name[x-test]=xxDeath Corridorxx
Name[zh_CN]=死亡走廊
Name[zh_TW]=死亡走道
Description=Clanbomber Import
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Death_Corridor.xml
Author=Ivar
AuthorEmail=-
