[Arena]
Name=Snake Race
Name[bs]=Utrka zmija
Name[ca]=Cursa de serps
Name[ca@valencia]=Cursa de serps
Name[da]=Slangeræs
Name[de]=Schlangenrennen
Name[el]=Snake Race
Name[en_GB]=Snake Race
Name[es]=Snake Race
Name[fi]=Käärmekilpa
Name[fr]=Course du serpent
Name[ga]=Snake Race
Name[gl]=Carreira de serpes
Name[hr]=Utrka zmija
Name[hu]=Kígyós futam
Name[it]=Corsa dei serpenti
Name[kk]=Иректеу
Name[km]=ល្បែង​ប្រណាំង​ពស់
Name[ko]=뱀 경주
Name[lv]=Čūsku sacīkstes
Name[nb]=Slangeløp
Name[nds]=Snaak-Rennspeel
Name[nl]=Snake Race
Name[nn]=Slangeløp
Name[pl]=Bieg węża
Name[pt]=Corrida de Cobras
Name[pt_BR]=Corrida de cobras
Name[ro]=Cursă de șerpi
Name[ru]=Змеиные гонки
Name[sk]=Závod hadov
Name[sl]=Kačja dirka
Name[sr]=Трка змија
Name[sr@ijekavian]=Трка змија
Name[sr@ijekavianlatin]=Trka zmija
Name[sr@latin]=Trka zmija
Name[sv]=Ormrace
Name[tr]=Yılan Oyunu
Name[uk]=Змійка
Name[x-test]=xxSnake Racexx
Name[zh_CN]=竞速蛇
Name[zh_TW]=蛇賽跑
Description=Clanbomber Import
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Snake_Race.xml
Author=Denis Oliver Kropp
AuthorEmail=-
