[Arena]
Name=Ghostbear
Name[bs]=Duh medvjed
Name[ca]=Ós fantasma
Name[ca@valencia]=Ós fantasma
Name[da]=Spøgelsesbjørn
Name[de]=Geisterbahn
Name[el]=Ghostbear
Name[en_GB]=Ghostbear
Name[es]=Ghostbear
Name[et]=Tontlik
Name[eu]=Hartz-fantasma
Name[fi]=Haamukarhu
Name[fr]=Fantôme de l'ours
Name[ga]=Ghostbear
Name[gl]=Oso pantasma
Name[hr]=Ghostbear
Name[hu]=Szellemmedve
Name[id]=Beruang Hantu
Name[it]=Ghostbear
Name[kk]=Аю елесі
Name[km]=ខ្មោច​ខ្លាឃ្មុំ​
Name[ko]=귀신과 곰
Name[lv]=Spoku lācis
Name[nb]=Spøkelsesbjørn
Name[nds]=Spökelboor
Name[nl]=Ghostbear
Name[nn]=Bjørneskrømt
Name[pl]=Nawiedzona kolej
Name[pt]=Urso-Fantasma
Name[pt_BR]=Urso fantasma
Name[ru]=Призрак медведя
Name[sk]=Duch medveďa
Name[sl]=Medvedji duh
Name[sr]=Духмедвед
Name[sr@ijekavian]=Духмедвјед
Name[sr@ijekavianlatin]=Duhmedvjed
Name[sr@latin]=Duhmedved
Name[sv]=Spökbjörnen
Name[tr]=Ghostbear
Name[uk]=Ведмідь-привид
Name[zh_CN]=熊鬼
Name[zh_TW]=鬼熊
Description=Clanbomber Import
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[eu]=Inportatu Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[id]=Impor Clanbomber
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Ghostbear.xml
Author=Clanner
AuthorEmail=-
