[Arena]
Name=Clanbomber Huge Standard
Name[ca]=Immens estàndard del Clanbomber
Name[ca@valencia]=Immens estàndard del Clanbomber
Name[da]=Enorm standard fra Clanbomber
Name[de]=Clanbomber (sehr groß)
Name[en_GB]=Clanbomber Huge Standard
Name[es]=Clanbomber Huge Standard
Name[et]=Clambomberi hiiglaslik standardne
Name[fr]=Standard énorme Clanbomber
Name[hr]=Clanbomber Huge Standard
Name[it]=Impostazioni enormi per Clanbomber
Name[nb]=Clanbomber diger standard
Name[nl]=Clanbomber Huge Standaard
Name[nn]=ClanBomber enorm standard
Name[pt]=Normal Enorme do Clanbomber
Name[pt_BR]=Padrão enorme do Clanbomber
Name[ru]=Средний стандарт Clanbomber
Name[sk]=Obrovský Clanbomber - štandard
Name[sr]=Стандардна огромна Кланбомбера
Name[sr@ijekavian]=Стандардна огромна Кланбомбера
Name[sr@ijekavianlatin]=Standardna ogromna ClanBombera
Name[sr@latin]=Standardna ogromna ClanBombera
Name[sv]=Enorm Clanbomber-standard
Name[uk]=Величезна стандартна Clanbomber
Name[x-test]=xxClanbomber Huge Standardxx
Name[zh_CN]=炸弹人巨型版
Name[zh_TW]=炸彈超人巨大標準
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[it]=Importazione di Clanbomber
Description[nb]=Clanbomber import
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Huge_Standard.xml
Author=Andreas Hundt
AuthorEmail=-
