[Arena]
Name=Fire Wheels
Name[bs]=Užareni točkovi
Name[ca]=Rodes de foc
Name[ca@valencia]=Rodes de foc
Name[da]=Ildhjul
Name[de]=Feuerräder
Name[el]=Φλογισμένοι τροχοί
Name[en_GB]=Fire Wheels
Name[es]=Fire Wheels
Name[fi]=Tulirattaat
Name[fr]=Roues en feu
Name[ga]=Fire Wheels
Name[gl]=Rodas de lume
Name[hr]=Fire Wheels
Name[hu]=Tűzkerekek
Name[it]=Ruote di fuoco
Name[kk]=Отты дөңгелектер
Name[km]=កង់​ភ្លើង
Name[ko]=불꽃 바퀴
Name[lt]=Ugniniai ratai
Name[lv]=Uguns rati
Name[nb]=Ildhjul
Name[nds]=Füerrööd
Name[nl]=Fire Wheels
Name[nn]=Eldhjul
Name[pl]=Koła ogniste
Name[pt]=Rodas de Fogo
Name[pt_BR]=Rodas de fogo
Name[ro]=Roți de foc
Name[ru]=Огненные колёса
Name[sk]=Ohnivé kruhy
Name[sl]=Ognjena kolesa
Name[sr]=Ватрени точкови
Name[sr@ijekavian]=Ватрени точкови
Name[sr@ijekavianlatin]=Vatreni točkovi
Name[sr@latin]=Vatreni točkovi
Name[sv]=Eldhjul
Name[tr]=Ateş Çarkları
Name[uk]=Вогняні колеса
Name[x-test]=xxFire Wheelsxx
Name[zh_CN]=火轮
Name[zh_TW]=火輪
Description=Clanbomber Import
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=Clanbomber importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_FireWheels.xml
Author=Ivar
AuthorEmail=-
