[Arena]
Name=Death Corridor
Name[ca]=El corredor de la mort
Name[ca@valencia]=El corredor de la mort
Name[da]=Dødens korridor
Name[de]=Todeskorridor
Name[en_GB]=Death Corridor
Name[es]=Death Corridor
Name[et]=Surmakoridor
Name[fr]=Couloir de la mort
Name[hr]=Death Corridor
Name[hu]=Halálfolyosó
Name[it]=Corridoio della morte
Name[nb]=Dødens korridor
Name[nds]=Doodsgang
Name[nl]=Death Corridor
Name[nn]=Dødskorridoren
Name[pt]=Corredor da Morte
Name[pt_BR]=Corredor da morte
Name[ru]=Коридор смерти
Name[sk]=Chodba smrti
Name[sr]=Ходник смрти
Name[sr@ijekavian]=Ходник смрти
Name[sr@ijekavianlatin]=Hodnik smrti
Name[sr@latin]=Hodnik smrti
Name[sv]=Dödens korridor
Name[uk]=Смертельний коридор
Name[x-test]=xxDeath Corridorxx
Name[zh_CN]=死亡走廊
Name[zh_TW]=死亡走道
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Death_Corridor.xml
Author=Ivar
AuthorEmail=-
