[Arena]
Name=Juicy Lucy
Name[uk]=Гарнюлька Люсі
Name[x-test]=xxJuicy Lucyxx
Description=Clanbomber Import
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Type=XML
FileName=clanbomber_Juicy_Lucy.xml
Author=Ivar
AuthorEmail=-
