[Arena]
Name=Clanbomber Tiny Standard
Name[ca]=Minúscul estàndard del Clanbomber
Name[ca@valencia]=Minúscul estàndard del Clanbomber
Name[da]=Bitte standard fra Clanbomber
Name[de]=Clanbomber (sehr klein)
Name[en_GB]=Clanbomber Tiny Standard
Name[es]=Clanbomber Tiny Standard
Name[et]=Clanbomberi tilluke standardne
Name[fr]=Tout petit standard Clanbomber
Name[it]=Impostazioni mini per Clanbomber
Name[nb]=Clanbomber bitteliten standard
Name[nl]=Clanbomber Tiny Standaard
Name[nn]=ClanBomber ørliten standard
Name[pt]=Normal Minúsculo do Clanbomber
Name[pt_BR]=Padrão minúsculo do Clanbomber
Name[ru]=Крошечный стандарт Clanbomber
Name[sk]=Maličké Clanbomber - štandard
Name[sr]=Стандардна сићушна Кланбомбера
Name[sr@ijekavian]=Стандардна сићушна Кланбомбера
Name[sr@ijekavianlatin]=Standardna sićušna ClanBombera
Name[sr@latin]=Standardna sićušna ClanBombera
Name[sv]=Mycket liten Clanbomber-standard
Name[uk]=Малюсінька стандартна Clanbomber
Name[x-test]=xxClanbomber Tiny Standardxx
Name[zh_CN]=炸弹人微型版
Name[zh_TW]=炸彈超人微小標準
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[it]=Importazione di Clanbomber
Description[nb]=Clanbomber import
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Tiny_Standard.xml
Author=Andreas Hundt
AuthorEmail=-
