[Arena]
Name=Mungo Bane
Name[ca]=La perdició den Mungo
Name[de]=Mungo-Fluch
Name[en_GB]=Mungo Bane
Name[et]=Tapjakoll
Name[nb]=Mungo Bane
Name[nn]=Mungo Bane
Name[pt]=Mungo Bane
Name[sr]=Манго бејн
Name[sr@ijekavian]=Манго бејн
Name[sr@ijekavianlatin]=Mango bejn
Name[sr@latin]=Mango bejn
Name[sv]=Mungo Bane
Name[uk]=Отрута
Name[x-test]=xxMungo Banexx
Name[zh_TW]=Mungo Bane
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[nb]=Clanbomber import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_MungoBane.xml
Author=Ivar
AuthorEmail=-
