[Arena]
Name=Fire Wheels
Name[en_GB]=Fire Wheels
Name[et]=Tulirattad
Name[pt]=Rodas de Fogo
Name[sv]=Eldhjul
Name[uk]=Вогняні колеса
Name[x-test]=xxFire Wheelsxx
Name[zh_TW]=火輪
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_FireWheels.xml
Author=Ivar
AuthorEmail=-
