[Arena]
Name=Fire Wheels
Name[ca]=Rodes de foc
Name[ca@valencia]=Rodes de foc
Name[da]=Ildhjul
Name[de]=Feuerräder
Name[en_GB]=Fire Wheels
Name[es]=Fire Wheels
Name[et]=Tulirattad
Name[fr]=Roues en feu
Name[hr]=Fire Wheels
Name[it]=Ruote di fuoco
Name[nb]=Ildhjul
Name[nl]=Fire Wheels
Name[nn]=Eldhjul
Name[pt]=Rodas de Fogo
Name[pt_BR]=Rodas de fogo
Name[ru]=Огненные колёса
Name[sk]=Ohnivé kruhy
Name[sr]=Ватрени точкови
Name[sr@ijekavian]=Ватрени точкови
Name[sr@ijekavianlatin]=Vatreni točkovi
Name[sr@latin]=Vatreni točkovi
Name[sv]=Eldhjul
Name[uk]=Вогняні колеса
Name[x-test]=xxFire Wheelsxx
Name[zh_CN]=火轮
Name[zh_TW]=火輪
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[it]=Importazione di Clanbomber
Description[nb]=Clanbomber import
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_FireWheels.xml
Author=Ivar
AuthorEmail=-
