[Arena]
Name=Juicy Lucy
Name[en_GB]=Juicy Lucy
Name[et]=Nõretav Niina
Name[pt]=Lúcia Gira
Name[sv]=Saftiga Sofia
Name[uk]=Гарнюлька Люсі
Name[x-test]=xxJuicy Lucyxx
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Type=XML
FileName=clanbomber_Juicy_Lucy.xml
Author=Ivar
AuthorEmail=-
