[Arena]
Name=Boiling Egg
Name[ca]=Ou bullint
Name[ca@valencia]=Ou bullint
Name[da]=Kogende æg
Name[de]=Kochendes Ei
Name[en_GB]=Boiling Egg
Name[es]=Boiling Egg
Name[et]=Keedumuna
Name[fr]=Œuf en ébullition
Name[ga]=Boiling Egg
Name[hr]=Boiling Egg
Name[hu]=Főtt tojás
Name[is]=Harðsoðið egg
Name[it]=Uovo bollente
Name[lt]=Verdantis kiaušinis
Name[nb]=Kokende egg
Name[nds]=Kaken Ei
Name[nl]=Boiling Egg
Name[nn]=Hardkokt egg
Name[pt]=Ovo Cozido
Name[pt_BR]=Ovo fervendo
Name[ru]=Варёное яйцо
Name[sk]=Uvarené vajce
Name[sr]=Кувано јаје
Name[sr@ijekavian]=Кувано јаје
Name[sr@ijekavianlatin]=Kuvano jaje
Name[sr@latin]=Kuvano jaje
Name[sv]=Kokande ägg
Name[uk]=Кипіння
Name[x-test]=xxBoiling Eggxx
Name[zh_CN]=煮蛋
Name[zh_TW]=煮蛋
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[ga]=Iompórtáil Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Boiling_Egg.xml
Author=Denis Oliver Kropp
AuthorEmail=-
