[Arena]
Name=Clanbomber Big Standard
Name[en_GB]=Clanbomber Big Standard
Name[et]=Clanbomberi suur standardne
Name[pt]=Normal Grande do Clanbomber
Name[sv]=Stor Clanbomber-standard
Name[uk]=Велика стандартна Clanbomber
Name[x-test]=xxClanbomber Big Standardxx
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Type=XML
FileName=clanbomber_Big_Standard.xml
Author=Andreas Hundt
AuthorEmail=-
