[Arena]
Name=Prison Cells
Name[ca]=Cel·les de presó
Name[ca@valencia]=Cel·les de presó
Name[da]=Fængselsceller
Name[de]=Gefängniszellen
Name[en_GB]=Prison Cells
Name[es]=Prison Cells
Name[et]=Vangikong
Name[fr]=Cellules de prison
Name[ga]=Prison Cells
Name[gl]=As celas do cárcere
Name[hr]=Prison Cells
Name[hu]=Börtöncella
Name[it]=Celle della prigione
Name[km]=បន្ទប់​ក្នុង​គុក
Name[lt]=Kalėjimo vienutės
Name[nb]=Fengselsceller
Name[nds]=Trallenzellen
Name[nl]=Prison Cells
Name[nn]=Fengselsceller
Name[pt]=Celas de Prisão
Name[pt_BR]=Celas de prisão
Name[ru]=Тюремная камера
Name[sk]=Väzenské cely
Name[sr]=Затворске ћелије
Name[sr@ijekavian]=Затворске ћелије
Name[sr@ijekavianlatin]=Zatvorske ćelije
Name[sr@latin]=Zatvorske ćelije
Name[sv]=Fängelseceller
Name[tr]=Hapis Hücreleri
Name[uk]=Тюремні камери
Name[x-test]=xxPrison Cellsxx
Name[zh_CN]=囚牢
Name[zh_TW]=囚房
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Prison_Cells.xml
Author=Andreas Hundt
AuthorEmail=-
