[Arena]
Name=Bomb Attack
Name[ca]=Bombardeig
Name[ca@valencia]=Bombardeig
Name[da]=Bombeangreb
Name[de]=Bombenangriff
Name[en_GB]=Bomb Attack
Name[es]=Bomb Attack
Name[et]=Pommirünnak
Name[fr]=Attaque à la bombe
Name[ga]=Bomb Attack
Name[hr]=Bomb Attack
Name[hu]=Bombázás
Name[is]=Sprengjuárás
Name[it]=Attacco con le bombe
Name[km]=វាយប្រហារ​ដោយ​គ្រាប់បែក
Name[nb]=Bombeangrep
Name[nds]=Bombenangreep
Name[nl]=Bomb Attack
Name[nn]=Luftangrep
Name[pa]=ਬੰਬ ਹਮਲਾ
Name[pt]=Ataque de Bombas
Name[pt_BR]=Ataque de bombas
Name[ru]=Бомбовая атака
Name[sk]=Bombový útok
Name[sr]=Бомбашки напад
Name[sr@ijekavian]=Бомбашки напад
Name[sr@ijekavianlatin]=Bombaški napad
Name[sr@latin]=Bombaški napad
Name[sv]=Bombattack
Name[tr]=Bomba Saldırısı
Name[uk]=Бомбовий напад
Name[x-test]=xxBomb Attackxx
Name[zh_CN]=炸弹特攻
Name[zh_TW]=炸彈攻擊
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[ga]=Iompórtáil Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[km]=នាំចូល Clanbomber 
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Bomb_Attack.xml
Author=Denis Oliver Kropp
AuthorEmail=-
