[Arena]
Name=Redirection
Name[ca]=Redirecció
Name[ca@valencia]=Redirecció
Name[da]=Omdirigering
Name[de]=Umleitung
Name[en_GB]=Redirection
Name[es]=Redirection
Name[et]=Ümbersuunamine
Name[fr]=Redirection
Name[ga]=Redirection
Name[hr]=Redirection
Name[hu]=Új irány
Name[it]=Deviazioni
Name[km]=ការប្តូរទិស​
Name[nb]=Omdirigering
Name[nds]=Ümledden
Name[nl]=Redirection
Name[nn]=Omdirigering
Name[pt]=Redirecção
Name[pt_BR]=Desvio
Name[ru]=Перенаправление
Name[sk]=Presmerovanie
Name[sr]=Преусмеравање
Name[sr@ijekavian]=Преусмјеравање
Name[sr@ijekavianlatin]=Preusmjeravanje
Name[sr@latin]=Preusmeravanje
Name[sv]=Omdirigering
Name[tr]=Yeniden Yönlendirme
Name[uk]=Переспрямування
Name[x-test]=xxRedirectionxx
Name[zh_CN]=重定向
Name[zh_TW]=重新導向
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[ga]=Iompórtáil Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[it]=Importazione di Clanbomber
Description[km]=នាំចូល Clanbomber 
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Redirection.xml
Author=Andreas Hundt
AuthorEmail=-
