[Arena]
Name=Clanbomber Small Standard
Name[ar]=كلانبومبر معيار صغير
Name[bs]=Klan bombarderski mali standard
Name[ca]=Petit estàndard del Clanbomber
Name[ca@valencia]=Xicotet estàndard de Clanbomber
Name[da]=Lille standard fra Clanbomber
Name[de]=Clanbomber (klein)
Name[el]=Clanbomber Small Standard
Name[en_GB]=Clanbomber Small Standard
Name[eo]=Clanbomber Malgranda Normo
Name[es]=Estándar pequeño de Clanbomber
Name[et]=Clanbomberi väike standardne
Name[eu]=Clanbomber estandar txikia
Name[fi]=Clanbomberin pieni tavanomainen
Name[fr]=Petit standard ClanBomber
Name[ga]=Clanbomber Small Standard
Name[gl]=Estándar pequeno do Clanbomber
Name[he]=Clanbomber קטן תקני
Name[hr]=Clanbomber Small Standard
Name[hu]=Clanbomber (kicsi, standard)
Name[id]=Clanbomber Kecil Standar
Name[it]=Clanbomber standard - piccola
Name[ka]=Clanbomber -ის პატარა სტანდარტული
Name[kk]=Clanbomber кіші стандарты
Name[km]=ស្តង់ដារ​តូច​របស់ Clanbomber 
Name[ko]=Clanbomber 작은 표준
Name[lv]=„Clanbomber“ mazā standarta
Name[nb]=Clanbomber liten standard
Name[nds]=Clanbomber, lütt, standard
Name[nl]=Clanbomber Small Standaard
Name[nn]=ClanBomber liten standard
Name[pl]=Mały standard Clanbomber
Name[pt]=Normal Pequeno do Clanbomber
Name[pt_BR]=Padrão pequeno do Clanbomber
Name[ru]=Малый стандарт Clanbomber
Name[sk]=Malé Clanbomber - štandard
Name[sl]=Clanbomber - običajno, majhno
Name[sr]=Стандардна мала Кланбомбера
Name[sr@ijekavian]=Стандардна мала Кланбомбера
Name[sr@ijekavianlatin]=Standardna mala ClanBombera
Name[sr@latin]=Standardna mala ClanBombera
Name[sv]=Liten Clanbomber-standard
Name[tr]=Clanbomber Küçük Standardı
Name[uk]=Маленька стандартна Clanbomber
Name[x-test]=xxClanbomber Small Standardxx
Name[zh_CN]=炸弹人小型版
Name[zh_TW]=炸彈超人小標準
Description=Clanbomber Import
Description[ar]=استيراد كلانبومبر
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importeu Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[eo]=Clanbomber Importo
Description[es]=Importar de Clanbomber
Description[et]=Clanbomberi import
Description[eu]=Inportatu Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber.
Description[he]=ייבוא מ־Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[id]=Impor Clanbomber
Description[it]=Importazione di Clanbomber
Description[ka]=კლანპომბერის შემოტანა
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=„Clanbomber“ importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Small_Standard.xml
Author=Andreas Hundt
AuthorEmail=-
