[Arena]
Name=Dilemma
Name[en_GB]=Dilemma
Name[et]=Dilemma
Name[pt]=Dilema
Name[sv]=Dilemma
Name[uk]=Дилема
Name[x-test]=xxDilemmaxx
Name[zh_TW]=兩難
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Dilemma.xml
Author=Ivar
AuthorEmail=-
