[Arena]
Name=Broken Heart
Name[en_GB]=Broken Heart
Name[et]=Murtud süda
Name[pt]=Coração Destroçado
Name[sv]=Brustet hjärta
Name[uk]=Розбите серце
Name[x-test]=xxBroken Heartxx
Name[zh_TW]=心碎
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Broken_Heart.xml
Author=mass
AuthorEmail=-
