[Arena]
Name=Blast Matrix
Name[ca]=Matriu explosiva
Name[ca@valencia]=Matriu explosiva
Name[de]=Sprengvorrichtung
Name[en_GB]=Blast Matrix
Name[et]=Lõhkemaatriks
Name[nb]=Eksplosjonsmatrise
Name[nn]=Eksplosjonsmatrise
Name[pt]=Matriz de Estoiro
Name[sr]=Ударна матрица
Name[sr@ijekavian]=Ударна матрица
Name[sr@ijekavianlatin]=Udarna matrica
Name[sr@latin]=Udarna matrica
Name[sv]=Sprängmatris
Name[uk]=Вибух матриці
Name[x-test]=xxBlast Matrixxx
Name[zh_CN]=爆破矩阵
Name[zh_TW]=爆炸矩陣
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[nb]=Clanbomber import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Blast_Matrix.xml
Author=Ivar
AuthorEmail=-
