[Arena]
Name=Prison Cells
Name[ca]=Cel·les de presó
Name[en_GB]=Prison Cells
Name[et]=Vangikong
Name[pt]=Celas de Prisão
Name[sv]=Fängelseceller
Name[uk]=Тюремні камери
Name[x-test]=xxPrison Cellsxx
Name[zh_TW]=囚房
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Prison_Cells.xml
Author=Andreas Hundt
AuthorEmail=-
