[Arena]
Name=Four Instance
Name[en_GB]=Four Instance
Name[et]=Neli juhust
Name[pt]=Instância de Quatro
Name[sv]=Fyra exempel
Name[uk]=Четвертий примірник
Name[x-test]=xxFour Instancexx
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Type=XML
FileName=clanbomber_Four_Instance.xml
Author=Andreas Hundt
AuthorEmail=-
