[Arena]
Name=Boiling Egg
Name[en_GB]=Boiling Egg
Name[et]=Keedumuna
Name[pt]=Ovo Cozido
Name[sv]=Kokande ägg
Name[uk]=Кипіння
Name[x-test]=xxBoiling Eggxx
Name[zh_TW]=煮蛋
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Boiling_Egg.xml
Author=Denis Oliver Kropp
AuthorEmail=-
