[Arena]
Name=Fear Circle Remix
Name[en_GB]=Fear Circle Remix
Name[et]=Hirmuringi remiks
Name[pt]=Mistura do Círculo de Medo
Name[sv]=Fruktans cirkel repris
Name[uk]=Перероблене коло страху
Name[x-test]=xxFear Circle Remixxx
Description=Clanbomber Import
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[pt]=Importação do Clanbomber
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Type=XML
FileName=clanbomber_FearCircle_Remix.xml
Author=Ivar
AuthorEmail=-
