[Arena]
Name=Mungo Bane
Name[ar]=مونغو باني
Name[bs]=Mungo Bane
Name[ca]=La perdició d'en Mungo
Name[ca@valencia]=La perdició d'en Mungo
Name[cs]=Mungo Bane
Name[da]=Mungo Bane
Name[de]=Mungo-Fluch
Name[el]=Mungo Bane
Name[en_GB]=Mungo Bane
Name[eo]=Mungo Bane
Name[es]=Mungo Bane
Name[et]=Tapjakoll
Name[eu]=Mungo Bane
Name[fi]=Mungon kirous
Name[fr]=Haricot mungo
Name[ga]=Mungo Bane
Name[gl]=A perdición de Mungo
Name[he]=מוּנגוֹ בֵּיִין
Name[hr]=Mungo Bane
Name[hu]=Mungo Bane
Name[id]=Mungo Bane
Name[it]=Mungo Bane
Name[ka]=მუნგოს წყევლა
Name[kk]=Мунго уы
Name[km]=Mungo Bane
Name[ko]=뭉고 골칫덩이
Name[lv]=Mungo Beins
Name[nb]=Mungo Bane
Name[nds]=Mungo-Flöök
Name[nl]=Mungo Bane
Name[nn]=Mungo Bane
Name[pl]=Klątwa Mungo
Name[pt]=Mungo Bane
Name[pt_BR]=Mungo Bane
Name[ru]=Проклятие Мунго
Name[sk]=Mungo Bane
Name[sl]=Mungo Bane
Name[sr]=Манго бејн
Name[sr@ijekavian]=Манго бејн
Name[sr@ijekavianlatin]=Mango bejn
Name[sr@latin]=Mango bejn
Name[sv]=Mungo Bane
Name[tr]=Mungo Felaketi
Name[uk]=Отрута
Name[x-test]=xxMungo Banexx
Name[zh_CN]=Mungo Bane
Name[zh_TW]=Mungo Bane
Description=Clanbomber Import
Description[ar]=استيراد كلانبومبر
Description[bs]=Klan bombarderski uvoz
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importeu Clanbomber
Description[cs]=Import z Clanbombera
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[el]=Εισαγωγή Clanbomber
Description[en_GB]=Clanbomber Import
Description[eo]=Clanbomber Importo
Description[es]=Importar de Clanbomber
Description[et]=Clanbomberi import
Description[eu]=Inportatu Clanbomber
Description[fi]=Clanbomberista tuotu kenttä
Description[fr]=Importation ClanBomber
Description[ga]=Iompórtáil Clanbomber
Description[gl]=Escenario importado do Clanbomber.
Description[he]=ייבוא מ־Clanbomber
Description[hu]=Importálás (Clanbomber)
Description[id]=Impor Clanbomber
Description[it]=Importazione di Clanbomber
Description[ka]=კლანპომბერის შემოტანა
Description[kk]=Clanbomber импорты
Description[km]=ការ​នាំ​ចូល​ Clanbomber
Description[ko]=Clanbomber 가져오기
Description[lv]=„Clanbomber“ importēšana
Description[nb]=Clanbomber import
Description[nds]=Clanbomber-Importeren
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pl]=Import Clanbomber
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importação do Clanbomber
Description[ro]=Import Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sl]=Uvoz iz Clanbomberja
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[tr]=Clanbomber İçe Aktar
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_MungoBane.xml
Author=Ivar
AuthorEmail=-
