[Arena]
Name=Clanbomber Small Standard
Name[ca]=Petit estàndard del Clanbomber
Name[ca@valencia]=Petit estàndard del Clanbomber
Name[da]=Lille standard fra Clanbomber
Name[de]=Clanbomber (klein)
Name[en_GB]=Clanbomber Small Standard
Name[es]=Clanbomber Small Standard
Name[et]=Clanbomberi väike standardne
Name[fr]=Petit standard Clanbomber
Name[hr]=Clanbomber Small Standard
Name[it]=Impostazioni piccole per Clanbomber
Name[nb]=Clanbomber liten standard
Name[nl]=Clanbomber Small Standaard
Name[nn]=ClanBomber liten standard
Name[pt]=Normal Pequeno do Clanbomber
Name[pt_BR]=Padrão pequeno do Clanbomber
Name[ru]=Малый стандарт Clanbomber
Name[sk]=Malé Clanbomber - štandard
Name[sr]=Стандардна мала Кланбомбера
Name[sr@ijekavian]=Стандардна мала Кланбомбера
Name[sr@ijekavianlatin]=Standardna mala ClanBombera
Name[sr@latin]=Standardna mala ClanBombera
Name[sv]=Liten Clanbomber-standard
Name[uk]=Маленька стандартна Clanbomber
Name[x-test]=xxClanbomber Small Standardxx
Name[zh_CN]=炸弹人小型版
Name[zh_TW]=炸彈超人小標準
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[es]=Importación de Clanbomber
Description[et]=Clanbomberi import
Description[fr]=Import Clanbomber
Description[it]=Importazione di Clanbomber
Description[nb]=Clanbomber import
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sk]=Import z Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_Small_Standard.xml
Author=Andreas Hundt
AuthorEmail=-
