[Arena]
Name=Fear Circle
Name[ca]=Cercle ferotge
Name[ca@valencia]=Cercle ferotge
Name[da]=Frygtens cirkel
Name[de]=Angstkreis
Name[en_GB]=Fear Circle
Name[et]=Hirmuring
Name[hr]=Fear Circle
Name[nb]=Fryktens sirkel
Name[nl]=Angstcirkel
Name[nn]=Fryktsirkelen
Name[pt]=Círculo de Medo
Name[pt_BR]=Círculo do medo
Name[ru]=Круг страха
Name[sr]=Круг страха
Name[sr@ijekavian]=Круг страха
Name[sr@ijekavianlatin]=Krug straha
Name[sr@latin]=Krug straha
Name[sv]=Fruktans cirkel
Name[uk]=Коло страху
Name[x-test]=xxFear Circlexx
Name[zh_CN]=恐怖环
Name[zh_TW]=恐懼之圓
Description=Clanbomber Import
Description[ca]=Importació del Clanbomber
Description[ca@valencia]=Importació del Clanbomber
Description[da]=Import fra Clanbomber
Description[de]=Importiert von Clanbomber.
Description[en_GB]=Clanbomber Import
Description[et]=Clanbomberi import
Description[nb]=Clanbomber import
Description[nl]=Clanbomber Import
Description[nn]=ClanBomber-importering
Description[pt]=Importação do Clanbomber
Description[pt_BR]=Importar do Clanbomber
Description[ru]=Импорт из Clanbomber
Description[sr]=Увезено из Кланбомбера
Description[sr@ijekavian]=Увезено из Кланбомбера
Description[sr@ijekavianlatin]=Uvezeno iz ClanBombera
Description[sr@latin]=Uvezeno iz ClanBombera
Description[sv]=Import från Clanbomber
Description[uk]=Імпорт з Clanbomber
Description[x-test]=xxClanbomber Importxx
Description[zh_CN]=炸弹人导入
Description[zh_TW]=Clanbomber 炸彈超人匯入
Type=XML
FileName=clanbomber_FearCircle.xml
Author=Ivar
AuthorEmail=-
