[Arena]
Name=The four-leaf clover
Name[bs]=Djetelina sa četiri lista
Name[ca]=El trèvol de quatre fulles
Name[ca@valencia]=El trèvol de quatre fulles
Name[da]=Firkløver
Name[de]=Das vierblättrige Kleeblatt
Name[el]=Το τετράφυλλο τριφύλλι
Name[en_GB]=The four-leaf clover
Name[es]=El trébol de cuatro hojas
Name[et]=Neljaleheline ristik
Name[fr]=Le trèfle à quatre feuilles
Name[gl]=O trébol de catro follas
Name[it]=Quadrifoglio
Name[kk]=Төрт жапырақты беде
Name[km]=ដើម​បួន​សន្លឹក
Name[nb]=Firkløver
Name[nds]=De Kleverveer
Name[nl]=Het vierbladige klaver
Name[pl]=Czterolistna koniczyna
Name[pt]=O trevo de quatro folhas
Name[pt_BR]=O trevo de quatro folhas
Name[ru]=Четырёхлистный клевер
Name[sk]=Štvorlístok
Name[sr]=Детелина са четири листа
Name[sr@ijekavian]=Детелина са четири листа
Name[sr@ijekavianlatin]=Detelina sa četiri lista
Name[sr@latin]=Detelina sa četiri lista
Name[sv]=Fyrklövern
Name[tr]=Dört yapraklı yonca
Name[uk]=Чотирипелюсткова конюшина
Name[x-test]=xxThe four-leaf cloverxx
Name[zh_TW]=幸運四葉草
Description=The four-leaf clover is an uncommon variation of the common, three-leaved clover. According to tradition, such leaves bring good luck to their finders, especially if found accidentally. According to legend, each leaf represents something: the first is for hope, the second is for faith, the third is for love, and the fourth is for luck.
Description[bs]=Djetelina sa četiri lista je neuobičajena pojava, pošto djetelina obično ima tri lista. Po pričama, ovakva djetelina donosi sreću onome ko je pronađe, posebno ako slučajno nabasa na nju. Priče dalje kažu da svaki list predstavlja nešto: prvi nadu, drugi veru, treći ljubav, a četvrti sreću.
Description[ca]=El trèvol de quatre fulles és una variació poc comuna del comú trèvol de tres fulles trèvol. Segons la tradició, aquestes fulles, porten bona sort als seus cercadors, especialment si es troben accidentalment. Segons la llegenda, cada fulla representa una cosa: la primera és per a l'esperança, la segona és per la fe, la tercera és per a l'amor, i la quarta és per a la sort.
Description[ca@valencia]=El trèvol de quatre fulles és una variació poc comuna del comú trèvol de tres fulles trèvol. Segons la tradició, estes fulles, porten bona sort als seus cercadors, especialment si es troben accidentalment. Segons la llegenda, cada fulla representa una cosa: la primera és per a l'esperança, la segona és per la fe, la tercera és per a l'amor, i la quarta és per a la sort.
Description[da]=Et firkløver er en sjælden variant af det almindelige trekløver. Ifølge traditionen bringer firkløveret lykke til den der finder dem, især hvis det findes ved et tilfælde. I henhold til myten repræsenterer hvert blad noget: Det første står for håb, det andet for tro, det tredje er kærlighed og det fjerde er held.
Description[de]=Das vierblättrige Kleeblatt ist eine seltene Variation des gewöhnlichen dreiblättrigen Kleeblatts. Nach Überlieferungen sollen solche Kleeblätter den Personen, die sie finden, Glück bringen – besonders, wenn sie zufällig gefunden werden. Laut einer Legende steht jedes Blatt für etwas: Das erste für Hoffnung, das zweite für Glaube, das dritte für Liebe und das vierte für Glück.
Description[el]=Το τετράφυλλο τριφύλλι είναι μια ασυνήθιστη παραλλαγή του κοινού τριφυλλιού. Σύμφωνα με την παράδοση, τέτοια φύλλα φέρνουν καλοτυχία σε εκείνους που τα ανακαλύπτουν, ειδικά αν τα βρουν από σύμπτωση. Σύμφωνα με το θρύλο, κάθε φύλλο αναπαριστά κάτι: το πρώτο την ελπίδα, το δεύτερο την πίστη, το τρίτο την αγάπη και το τέταρτο την τύχη.
Description[en_GB]=The four-leaf clover is an uncommon variation of the common, three-leaved clover. According to tradition, such leaves bring good luck to their finders, especially if found accidentally. According to legend, each leaf represents something: the first is for hope, the second is for faith, the third is for love, and the fourth is for luck.
Description[es]=El trébol de cuatro hojas es una variante poco común del trébol de tres hojas. Según la tradición, estas hojas le traen buena suerte a quien los encuentra, especialmente si se encuentran por accidente. Según la leyenda, cada hoja representa algo: la primera es la esperanza, la segunda la fe, la tercera es el amor, y la cuarta es la suerte.
Description[et]=Neljaleheline ristikhein on levinud kolmelehelise ristiku haruldane variant. Traditsiooni kohaselt toob see leidjale õnne, eriti kui see leitakse juhuslikult. Legendi järgi tähistab iga leht midagi: esimene lootust, teine usku, kolmas armastust ja neljas õnne.
Description[fr]=Le trèfle à quatre feuilles est une mutation, relativement rare, du trèfle à trois feuilles. Selon la tradition, ce genre de trèfle apporte la chance à celui qui le trouve, surtout par hasard. Selon la légende, chaque feuille représente quelque chose : l'espoir, la foi, l'amour et la chance.
Description[gl]=O trébol de catro follas é unha variación infrecuente do trébol de tres follas habitual. Segundo certa tradición, esas follas danlle boa sorte a quen as atope, especialmente se da con elas por accidente. Segundo a lenda, cada folla representa algo: a primeira é para a esperanza, a segunda apara a fe, a terceira para o amor e a cuarta é para a sorte.
Description[it]=Il quadrifoglio è una rara variante del comune trifoglio. Stando alla tradizione, porta fortuna a chi lo trova, soprattutto se lo trova per caso. Una leggenda dà un significato ad ogni foglia: la prima è la speranza, la seconda la fede, la terza l'amore e la quarta la fortuna.
Description[kk]=Әдетте беде үш-жапырақты болады, төрт жапырағы өте сирек кездеседі. Беденің төрт жапырағын тапқанға ол бақыт әкеледі деген сенім бар. Аңыз бойынша, бірінші жапырағы - үміт, екіншісі - сенім, үшіншісі - махаббат, төртіншісі - сәттілік сыйлайды.
Description[km]=ដើម​បួន​សន្លឹក​​គឺ​​ក្លាយ​ចេញ​មក​ពី​ដើម​បី​សន្លឹក ។ បើ​យោង​តាម​ជំនឿ​ ស្លឹក​ទាំង​នេះ​នឹង​នាំ​សំណាង​មក​ដល់​អ្នក​ដែល​បាន​​ឃើញ​វា​ ជា​ពិសេស​បើ​សិន​ជា​​ឃើញ​វា​​ដោយ​ចៃដន្យ​ ។ បើ​យោង​តាម​រឿង​ព្រេង​ សន្លឹក​នីមួយ​ៗ​តំណាង​ឲ្យ​ធាតុ​មួយ​ចំនួន​ដូច​ជា ៖ ទី​មួយ​តំណាង​ឲ្យ​សេចក្ដី​សង្ឃឹម ទី​ពី​សេចក្ដី​ស្មោះ​ត្រង់ ទី​បី​​សេចក្ដី​ស្រឡាញ់ និង​ទី​បួន​សំណាង​ ។
Description[nb]=Firkløveren er en uvanlig variant av den vanlige kløveren med tre blader. Etter tradisjonen bringer firkløveren hell til den som finner den, spesielt hvis den finnes tilfeldig. I følge legenden står hvert blad for noe: det første er for håp, det andre for tro, det tredje for kjærlighet og det fjerde for hell.
Description[nds]=De Kleverveer is de rore Speeloort vun den normalen Klever. De hett veer ansteed vun dree Enkelblääd. So en Blatt mit veer Enkelblääd schall en Glücksbringer wesen, sünnerlich, wenn Een dat tofällig funnen hett. Een seggt ok, elk vun de veer Enkelblääd hett en egen Bedüden: Hapen, Gloov, Leev un Glück.
Description[nl]=Het vierbladige klaver is een ongewone variatie van de gewone, driebladige klaver. Volgens de traditie, brengen zulke bladeren geluk aan hun vinders, speciaal wanneer ze toevallig zijn gevonden. volgens de legende, representeert elk blad iets: de eerste is hoop, de tweede is geloof, de derde is liefde en de vierde geluk.
Description[pl]=Czterolistna koniczyna jest niezbyt często spotykaną odmianą popularnej, trójlistnej koniczyny, Zgodnie z tradycją, takie liście przynoszą szczęście ich znalazcom, szczególnie jeśli trafiono na nie przypadkowo. Zgodnie z legendą, każdy listek coś reprezentuje: pierwszy - nadzieję, drugi - wiarę, trzeci - miłość, a czwarty - szczęście.
Description[pt]=O trevo de quatro folhas é uma variante pouco comum do trevo normal de três folhas. De acordo com a tradição, estas plantas normalmente dão boa sorte a quem as encontra, especialmente se for por acaso. De acordo com a lenda, cada folha representa algo: a primeira é a esperança, a segunda é a fé, a terceira é o amor e a quarta é a sorte.
Description[pt_BR]=O trevo de quatro folhas é uma variante pouco comum do trevo normal de três folhas. De acordo com a tradição, estas plantas normalmente dão boa sorte a quem as encontra, especialmente se for por acaso. De acordo com a lenda, cada folha representa algo: a primeira é a esperança, a segunda é a fé, a terceira é o amor e a quarta é a sorte.
Description[sr]=Детелина са четири листа је неуобичајена појава, пошто детелина обично има три листа. По причама, оваква детелина доноси срећу ономе ко је пронађе, посебно ако случајно набаса на њу. Приче даље кажу да сваки лист представља нешто: први наду, други веру, трећи љубав, а четврти срећу.
Description[sr@ijekavian]=Дјетелина са четири листа је неуобичајена појава, пошто дјетелина обично има три листа. По причама, оваква дјетелина доноси срећу ономе ко је пронађе, посебно ако случајно набаса на њу. Приче даље кажу да сваки лист представља нешто: први наду, други вјеру, трећи љубав, а четврти срећу.
Description[sr@ijekavianlatin]=Djetelina sa četiri lista je neuobičajena pojava, pošto djetelina obično ima tri lista. Po pričama, ovakva djetelina donosi sreću onome ko je pronađe, posebno ako slučajno nabasa na nju. Priče dalje kažu da svaki list predstavlja nešto: prvi nadu, drugi vjeru, treći ljubav, a četvrti sreću.
Description[sr@latin]=Detelina sa četiri lista je neuobičajena pojava, pošto detelina obično ima tri lista. Po pričama, ovakva detelina donosi sreću onome ko je pronađe, posebno ako slučajno nabasa na nju. Priče dalje kažu da svaki list predstavlja nešto: prvi nadu, drugi veru, treći ljubav, a četvrti sreću.
Description[sv]=Fyrklövern är en ovanlig variant av den vanliga klövern med tre blad. Enligt traditionen, ger en sådan tur till upphittaren, särskilt om den hittas av en slump. Enligt legenden, representerar varje blad någonting: det första står för hopp, det andra för tro, det tredje för kärlek och det fjärde för tur.
Description[uk]=Чотирипелюстковий листок конюшини є незвичним різновидом звичайного трійчастого листка. Традиційно вважається, що тому, хто знайде такий листок, особливо випадково, має поталанити. Згідно до повір’я, кожна з пелюсток щось символізує: перша — надію, друга — віру, третя — любов, четверта — удачу.
Description[x-test]=xxThe four-leaf clover is an uncommon variation of the common, three-leaved clover. According to tradition, such leaves bring good luck to their finders, especially if found accidentally. According to legend, each leaf represents something: the first is for hope, the second is for faith, the third is for love, and the fourth is for luck.xx
Description[zh_TW]=四葉草是三葉草的一種突變種。傳統上四葉草可以帶來好運，尤其是當您意外發現它時。傳說中，這四葉分別代表不同的事情：第一個是希望，第二個是信仰，第三個是愛，第四個則是幸運。
Type=XML
FileName=clover.xml
Author=Samarina Nastya
AuthorEmail=nastyas00@mail.ru
