[Arena]
Name=The four-leaf clover
Name[pt]=O trevo de quatro folhas
Name[pt_BR]=O trevo de quatro folhas
Name[sv]=Fyrklövern
Name[uk]=Чотирипелюсткова конюшина
Name[x-test]=xxThe four-leaf cloverxx
Description=The four-leaf clover is an uncommon variation of the common, three-leaved clover. According to tradition, such leaves bring good luck to their finders, especially if found accidentally. According to legend, each leaf represents something: the first is for hope, the second is for faith, the third is for love, and the fourth is for luck.
Description[pt]=O trevo de quatro folhas é uma variante pouco comum do trevo normal de três folhas. De acordo com a tradição, estas plantas normalmente dão boa sorte a quem as encontra, especialmente se for por acaso. De acordo com a lenda, cada folha representa algo: a primeira é a esperança, a segunda é a fé, a terceira é o amor e a quarta é a sorte.
Description[pt_BR]=O trevo de quatro folhas é uma variante pouco comum do trevo normal de três folhas. De acordo com a tradição, estas plantas normalmente dão boa sorte a quem as encontra, especialmente se for por acaso. De acordo com a lenda, cada folha representa algo: a primeira é a esperança, a segunda é a fé, a terceira é o amor e a quarta é a sorte.
Description[sv]=Fyrklövern är en ovanlig variant av den vanliga klövern med tre blad. Enligt traditionen, ger en sådan tur till upphittaren, särskilt om den hittas av en slump. Enligt legenden, representerar varje blad någonting: det första står för hopp, det andra för tro, det tredje för kärlek och det fjärde för tur.
Description[uk]=Чотирипелюстковий листок конюшини є незвичним різновидом звичайного трійчастого листка. Традиційно вважається, що тому, хто знайде такий листок, особливо випадково, має поталанити. Згідно до повір’я, кожна з пелюсток щось символізує: перша — надію, друга — віру, третя — любов, четверта — удачу.
Description[x-test]=xxThe four-leaf clover is an uncommon variation of the common, three-leaved clover. According to tradition, such leaves bring good luck to their finders, especially if found accidentally. According to legend, each leaf represents something: the first is for hope, the second is for faith, the third is for love, and the fourth is for luck.xx
Type=XML
FileName=clover.xml
Author=Samarina Nastya
AuthorEmail=nastyas00@mail.ru
