[Arena]
Name=The four-leaf clover
Description=The four-leaf clover is an uncommon variation of the common, three-leaved clover. According to tradition, such leaves bring good luck to their finders, especially if found accidentally. According to legend, each leaf represents something: the first is for hope, the second is for faith, the third is for love, and the fourth is for luck.
Type=XML
FileName=clover.xml
Author=Samarina Nastya
AuthorEmail=nastyas00@mail.ru
