[Arena]
Name=Crazy
Name[pt]=Louco
Name[sv]=Galen
Name[tr]=Çılgın
Name[uk]=Шалена
Description=Crazy Arena
Description[pt]=Arena Louca
Description[sv]=Galen arena
Description[tr]=Çılgın Arena
Description[uk]=Шалена арена
Type=XML
FileName=crazy.xml
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
