[Arena]
Name=Granatier
Name[bs]=Bombaš
Name[ca]=Granatier
Name[ca@valencia]=Granatier
Name[cs]=Granatier
Name[da]=Granatier
Name[de]=Granatier
Name[el]=Granatier
Name[en_GB]=Granatier
Name[eo]=Granatier
Name[es]=Granatier
Name[et]=Granatier
Name[eu]=Granatier
Name[fi]=Granatier
Name[fr]=Granatier
Name[ga]=Granatier
Name[gl]=Granadeiro
Name[hu]=Granatier
Name[id]=Granatier
Name[it]=Granatiere
Name[kk]=Гранататқыш
Name[km]=Granatier
Name[ko]=Granatier
Name[lv]=Granatier
Name[nb]=Granatier
Name[nds]=Granatier
Name[nl]=Granatier
Name[nn]=Granatier
Name[pl]=Granatier
Name[pt]=Granatier
Name[pt_BR]=Granatier
Name[ro]=Granatier
Name[ru]=Granatier
Name[sk]=Granatier
Name[sl]=Granatier
Name[sr]=Гренадир
Name[sr@ijekavian]=Гренадир
Name[sr@ijekavianlatin]=Grenadir
Name[sr@latin]=Grenadir
Name[sv]=Granatier
Name[tr]=Granatier
Name[ug]=Granatier
Name[uk]=Гренадер
Name[x-test]=xxGranatierxx
Name[zh_CN]=Granatier
Name[zh_TW]=Granatier
Description=Default Granatier Arena
Description[bs]=Podrazumjevana granataška arena
Description[ca]=Camp de batalla per omissió del Granatier
Description[ca@valencia]=Camp de batalla per omissió del Granatier
Description[da]=Granatiers standardarena
Description[de]=Das Standard-Spielfeld von Granatier.
Description[el]=Προκαθορισμένο πεδίο δράσης Granatier
Description[en_GB]=Default Granatier Arena
Description[es]=Zona de combate predeterminada de Granatier
Description[et]=Granatieri vaikimisi areen
Description[eu]=Granatier borroka leku lehenetsia
Description[fi]=Granatierin oletuskenttä
Description[fr]=Arène par défaut de Granatier
Description[ga]=Airéine Réamhshocraithe Granatier
Description[gl]=Escenario predeterminado de Granatier
Description[hu]=Alapértelmezett Granatier-aréna
Description[id]=Arena Granatier Baku
Description[it]=Arena predefinita di Granatiere
Description[kk]=Әдетті гранататқыш майданы
Description[km]=សៃវៀន​លំនាំ​ដើម​របស់​ Granatier
Description[ko]=기본 Granatier 경기장
Description[lt]=Numatyta Granatier arena
Description[lv]=Noklusētā Granatier arēna
Description[nb]=Standard Granatier-arena
Description[nds]=Standard-Strietsteed för Granatier
Description[nl]=Standaard Granatier Arena
Description[nn]=Standard Granatier-arena
Description[pl]=Domyślna arena granatier
Description[pt]=Arena Predefinida do Granatier
Description[pt_BR]=Arena padrão do Granatier
Description[ru]=Арена по умолчанию
Description[sk]=Štandardná aréna Granatiera
Description[sl]=Privzeta arena za Granatier
Description[sr]=Подразумевана арена Гренадира
Description[sr@ijekavian]=Подразумијевана арена Гренадира
Description[sr@ijekavianlatin]=Podrazumijevana arena Grenadira
Description[sr@latin]=Podrazumevana arena Grenadira
Description[sv]=Standardarena i Granatier
Description[tr]=Öntanımlı Granatier Arenası
Description[uk]=Типова арена «Гренадера»
Description[x-test]=xxDefault Granatier Arenaxx
Description[zh_CN]=默认 Granatier 竞技场
Description[zh_TW]=預設的 Granatier 競技場
Type=XML
FileName=granatier.xml
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
