[Arena]
Name=Labyrinth
Name[en_GB]=Labyrinth
Name[es]=Laberinto
Name[fr]=Labyrinthe
Name[gl]=Labirinto
Name[pt]=Labirinto
Name[sv]=Labyrint
Name[tr]=Labirent
Name[uk]=Лабіринт
Name[x-test]=xxLabyrinthxx
Description=Labyrinth Arena
Description[en_GB]=Labyrinth Arena
Description[es]=Campo de juego laberinto
Description[fr]=Arène Labyrinthe
Description[gl]=Escenario do Labirinto
Description[pt]=Arena em Labirinto
Description[sv]=Labyrintarena
Description[tr]=Labirent Arena
Description[uk]=Арена-лабіринт
Description[x-test]=xxLabyrinth Arenaxx
Type=XML
FileName=labyrinth.xml
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
