[Arena]
Name=Labyrinth
Name[pt]=Labirinto
Name[sv]=Labyrint
Name[tr]=Labirent
Name[uk]=Лабіринт
Name[x-test]=xxLabyrinthxx
Description=Labyrinth Arena
Description[pt]=Arena em Labirinto
Description[sv]=Labyrintarena
Description[tr]=Labirent Arena
Description[uk]=Арена-лабіринт
Description[x-test]=xxLabyrinth Arenaxx
Type=XML
FileName=labyrinth.xml
Preview=labyrinth_preview.png
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
