[Arena]
Name=Labyrinth
Name[uk]=Лабіринт
Name[x-test]=xxLabyrinthxx
Description=Labyrinth Arena
Description[uk]=Арена-лабіринт
Description[x-test]=xxLabyrinth Arenaxx
Type=XML
FileName=labyrinth.xml
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
