[Arena]
Name=Three of Three
Name[de]=Drei-von-Drei
Description=Three of Three Arena
Description[de]=Ein Drei-von-Drei-Spielfeld.
Type=XML
FileName=threeofthree.xml
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
