[Arena]
Name=Three of Three
Description=Three of Three Arena
Type=XML
FileName=threeofthree.xml
Preview=threeofthree_preview.png
Author=Mathias Kraus
AuthorEmail=k.hias@gmx.de
